dist/
lib/
node_modules/
apidoc/
npm-debug.log
tests/apidoc-*
# we have only one non-dev dependency,
# we hardcode its version,
# and that one has zero dependency
# => skip the package lock stuff.
package-lock.json
yarn.lock
/yarn-error.log
/.idea/aws.xml
/.idea/misc.xml
/.idea/redis-manager-config.xml
